model/imagenet-vgg-verydeep-19.mat
model/__pycache__/
model/tensorboard/
all_data.pickle

model/logs/
model/results/
extension/checkpoint/
extension/project_checkpoint/checkpoint
extension/project_checkpoint/checkpoint-2945.data-00000-of-00001
extension/project_checkpoint/checkpoint-2945.index
extension/project_checkpoint/checkpoint-2945.meta

math_expo/project_checkpoint_5/
math_expo/project_checkpoint_5/checkpoint-1750.meta
math_expo/project_checkpoint_5/checkpoint-1750.index
math_expo/project_checkpoint_5/checkpoint-1750.data-00000-of-00001